import("rJava")
import("yaml")
import("ggplot2")
import("reshape2")
import("igraph")
importFrom("dplyr",summarise)
importFrom("grDevices", "colors", "pdf", "png", "rgb", "svg")
importFrom("graphics", "abline", "axis", "barplot", "grid", "legend","lines", "par", "plot", "points")
importFrom("stats", "runif")
importFrom("utils", "read.table", "write.csv")
importFrom("stats", "aggregate")
importFrom("utils", "unzip")
export("showme")
export("mcfs")
export("build.idgraph")
export("filter.data")
export("fix.data")
export("read.adx")
export("read.adh")
export("write.adx")
export("write.adh")
export("write.arff")
export("export.result")
export("import.result")
export("artificial.data")
export("plot.mcfs")
export("print.mcfs")
export("plot.idgraph")
S3method("plot", mcfs)
S3method("print", mcfs)
S3method("plot", idgraph)
